/* Default Day Theme */
.day {
  background-color: white;
  color: black;
}

/* Night Theme */
.night {
  background-color: black;
  color: white;
}

#swap {
  outline: 0;
}

/* Button styles */
.button_day {
  background-color: lightgray;
  color: black;
}

.button_night {
  background-color: blue;
  color: white;
}

#app {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
